/* Midium devices (815px and down) */

@media (max-width: 815px) {
    .container {
        padding: 0 30px;
    }
    .toggle-btn {
        display: block;
        color: black;
        font-size: 30px;
        position: relative;
        top: 47px;
        left: 40px;
    }
    .search {
        display: none;
    }
    .shopping {
        position: absolute;
        top: 18px;
        right: 20px;
        font-size: 30px;
    }
    nav {
        justify-content: start;
    }
    .logo {
        margin-left: 25%;
    }
    nav .nav-bar ul {
        z-index: 6;
        position: absolute;
        top: 80px;
        right: -60%;
        width: 40%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.3);
    }
    input[type="checkbox"]:checked~.nav-bar ul {
        right: 0;
    }
    nav .nav-bar ul li a {
        color: #fff;
    }
    nav .nav-bar ul li {
        display: block;
    }
    /* Hero Area */
    .hero {
        height: fit-content;
        grid-template-columns: 1fr;
        margin-top: 25px;
    }
    .hero_left {
        text-align: center;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }
    .hero_left h1 {
        font-size: calc(40px + 2vw);
    }
    .hero_right {
        order: -1;
    }
    /* Product Area */
    .brand {
        row-gap: 15px;
        padding: 0 30px;
    }
    .brand img {
        width: 110px;
        margin: 0 30px;
    }
    .product_carts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }
    /* contact */
    .contactUs-area {
        flex-direction: column;
        align-items: center;
    }
    form {
        width: 90%;
        /* max-width: 600px; */
        padding: 20px 0;
    }
}


/*Midium devices (min-width: 500px and down)  */

@media (max-width: 500px) {
    .container {
        width: 95%;
        padding: 0 30px;
        margin: 0 auto;
    }
    .toggle-btn {
        display: block;
    }
    nav .logo a {
        font-size: 16px;
    }
    .shopping {
        position: absolute;
        top: 17px;
        right: 20px;
        font-size: 30px;
    }
    .hero {
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .hero_left {
        text-align: center;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }
    .hero_right .hero_right_bg {
        width: 300px;
        height: 300px;
    }
    .hero_right img {
        width: 270px;
        height: 254px;
    }
    .hero_left {
        text-align: center;
    }
    /* Product */
    .product_carts {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-between;
    }
}